.o-jumbotron {
  h1.main {
    font-family: inherit;
  }

  h1.result {
    color: $c-color-accent;
    font-size: 4rem;
  }

  button {
    border: 0.2rem solid #000000;
    padding: 0.9rem 1.4rem;
    @include round-border(22px);
    font-weight: bold;
    font-size: 1.1rem;
    text-transform: uppercase;
  }

  &_image {
    height: 282px;
    width: 377px;
    background: url("assets/zonky_1.png") no-repeat center bottom;
    background-size: 90%;
  }

  @media screen and (max-width: 1199px) {
    &_image {
      height: 220px;
    }
  }
}
