$c-color-light-grey: rgba(230, 232, 234, 1);
$c-color-white: rgba(255, 255, 255, 1);

$c-color-primary: #f7a520;
$c-color-accent: #41b2bd;


/* For use in src/lib/core/theming/_palette.scss */
$md-zonky1: (
  50 : #fef4e4,
  100 : #fde4bc,
  200 : #fbd290,
  300 : #f9c063,
  400 : #f8b341,
  500 : $c-color-primary,
  600 : #f69d1c,
  700 : #f59318,
  800 : #f38a13,
  900 : #f1790b,
  A100 : #ffffff,
  A200 : #fff2e8,
  A400 : #ffd5b5,
  A700 : #ffc79c,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);

$md-zonky2: (
  50 : #e8f6f7,
  100 : #c6e8eb,
  200 : #a0d9de,
  300 : #7ac9d1,
  400 : #5ebec7,
  500 : $c-color-accent,
  600 : #3babb7,
  700 : #32a2ae,
  800 : #2a99a6,
  900 : #1c8a98,
  A100 : #d1f9ff,
  A200 : #9ef2ff,
  A400 : #6becff,
  A700 : #52e9ff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
