@import '../../../../../node_modules/@angular/material/theming';
@include mat-core();

$zonky-app-primary: mat-palette($md-zonky1, 500, A100, A700);
$zonky-app-accent:  mat-palette($md-zonky2, 500, A100, A700);
$zonky-app-warn:    mat-palette($mat-red);
$zonky-app-theme: mat-light-theme($zonky-app-primary, $zonky-app-accent, $zonky-app-warn);

@include angular-material-theme($zonky-app-theme);

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Raleway:700&subset=latin-ext');

html {
  min-height: 100%;
}

body {
  min-height: 100vh;
}

* {
  font-family: 'Roboto Slab', serif;
}

h1, h2, h3, h4, h5 {
  font-family: 'Raleway', 'Roboto Slab', serif;
}
