<div class="jumbotron o-jumbotron pb-lg-0 mb-lg-0">
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 class="display-4 main">Průměrná výše půjčky</h1>
        <p class="lead">Na tržišti Zonky si vyberte rating, na základě toho se vypočítá průměrná
          výše půjčky pro daný rating.</p>
        <hr class="my-4" *ngIf="!currentProgress; else progressBar">
      </div>
    </div>
    <div class="row align-items-center">
      <div class="col-12 col-md-4 col-lg-3 text-center text-md-left">
        <div>
          <mat-form-field>
            <mat-label>Vyberte rating</mat-label>
            <mat-select [(ngModel)]="rating" id="ratingSelect">
              <mat-option *ngFor="let rating of ratings" [value]="rating.value" (onSelectionChange)="cleanUp(true)">
                {{rating.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div style="padding-bottom: 1.25em;">
          <button id="calculate" mat-flat-button color="primary" type="button"
                  (click)="callLoanAverageSum()" [disabled]="!rating">Zjistit průměr
          </button>
        </div>
        <hr class="my-4 d-sm-none">
      </div>
      <div class="col-lg-4 d-lg-flex d-none">
        <div class="o-jumbotron_image"></div>
      </div>
      <div class="col text-center mt-3 mt-md-0" *ngIf="rating && (currentProgress || averageLoanAmount)">
        <h1 id="result" @textTransition *ngIf="averageLoanAmount && !currentProgress; else loadingData" class="result">{{averageLoanAmount | currency:'CZK':'symbol':'4.0-0':'cs-CZ'}}</h1>
        <ng-template #loadingData>
          <p id="waitingText">... chvilku strpení, procházíme aktuálních {{totalRecords}} záznamů</p>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<ng-template #progressBar>
  <mat-progress-bar id="progressbarDataGathering" class="my-4" color="accent" mode="determinate" value="{{currentProgress}}"></mat-progress-bar>
</ng-template>
